[Unit]
Description=SQ Player
After=local-fs.target remote-fs.target nss-lookup.target network.target

[Service]
Type=simple
#WorkingDirectory=/opt/sq
Environment=LD_LIBRARY_PATH=/opt/sq/lib64
ExecStart=/opt/sq/sq.sh
Restart=always

[Install]
WantedBy=multi-user.target
